<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Connect-to-Lives</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Make connection between poor Animals and great people</h2>
            <%= link_to "Get Started",articles_path, class: "btn btn-primary js-scroll-trigger" %>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">About</h2>
                <p class="text-white-50">愛護センターで保護されている動物達の殺処分を防ぎ「愛情を知らない動物達」と「心からの愛情を与える事が出来る人」を繋ぎ、「愛護センターからの引き取りを動物を飼い始める際の一般的な選択肢にする』をミッションとしています。</p>
            </div>
        </div>
        <img class="img-fluid" src="bootstrap/assets/img/beautycat.jpg" alt="" />
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="bootstrap/assets/img/統計.png" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>殺処分の統計</h4>
                    <p class="text-black-50 mb-0">統計をグラフにするとかなりの数の殺処分を防ぐ事が出来ている様に思えます。しかし実態はそう甘くはありません。</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="bootstrap/assets/img/hands.jpg" alt="" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">実態</h4>
                            <p class="mb-0 text-white-50">殺処分現象の実態は愛護センターなどの殺処分間近の動物達を引き取る愛護団体やボランティアの方々が引き取り、里親を探してくれているからなのです。</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="bootstrap/assets/img/Poorcat.jpg" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">統計上裏の闇</h4>
                            <p class="mb-0 text-white-50">「引き取り屋」と呼ばれ、飼育費を渡す事で面倒をみるという業者が居ます。そこに引き取られた動物達は「飼育放棄」や「虐待」など、運命は真っ暗闇なのです。</p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SignUp -->
<section class="signup-section" id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Signup to connect to Animals!</h2>
                <form class="form-inline d-flex"><input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputName" type="name" placeholder="Enter your name..." /></form>
            </div>
        </div>
    </div>
        <div class="container mt-3">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <form class="form-inline d-flex"><input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Enter email address..." /></form>
            </div>
        </div>
    </div>
        <div class="container mt-3">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <form class="form-inline d-flex"><input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputPassword" type="password" placeholder="Enter password..." /><button class="btn btn-primary mx-auto" type="submit">Subscribe</button></form>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50">Kawagoe, Saitama</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50"><a href="#!">example@icloud.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50">(999)999-999</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a><a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>